/* 
font-family: 'Roboto Slab', serif; */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 0.93em;
}

.container {
	width: 1256px;
	margin: 0 auto;
}

.main-header {
	padding-top: 50px;
	height: 147px;
	background-color: #edeff1;
}

.main-header .container {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}


/* ============== LOGO =================== */

.logo {
	width: 160px;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}

.logo h1.logo__name {
	margin: 0;
	padding: 0;
	color: #30343e;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 1;
}

.logo p {
	font-size: 1em;
	font-weight: 400;
	line-height: 1;
	color: #dd4b2b;
}

/* ============== // LOGO =================== */

.main-navigation {
	width: 670px;
	height: 50px;
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.nav-lit .nav-list__item {
	margin-top: 19px;
}

.nav-list .nav-list__item a {
	padding: 17px 30px;
	font-family: RobotoSlab;
	font-size: 1.125em;
	font-weight: 400;
	line-height: 1.333;
	color: #31353e;
	text-decoration: none;
}

.nav-list .nav-list__item a:hover,
.nav-list .nav-list__item a:active,
.nav-list .nav-list__item a:focus {
	color: #edeff1;
	background-color: #dd4b2b;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
}

/* ================= About Company ============== */
.about-company {
	height: 1321px;
	font-family: 'Roboto Slab', serif;
	background: #edefff url('../img/background-header.jpg') no-repeat top center;
	text-align: center;
	color: #fff;
}

.about-company .container {
	height: 1321px;
	padding-bottom: 138px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	-webkit-align-items: center;
	        align-items: center;
}

.about-company__text {
	min-height: 110px;
	margin-bottom: 139px;
	padding-top: 160px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.about-company__slogan {
	margin-bottom: 30px;
	font-size: 72px;
	font-weight: 300;
	line-height: 0.67;	
}

.about-company__note {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.6;
}

.about-company__features {
	width: 1110px;
	margin-bottom: 80px;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.about-company__features li {
	width: 326px;
	list-style-type: none;
}

.about-company__features .feature-image {
	width: 134px;
	height: 134px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 35px;
}

.about-company__features .feature-title {
	margin-bottom: 28px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.875em;
	font-weight: 700;
	line-height: 0.8;
	color: #fff;
}

.about-company__features p {
	font-size: 0.938em;
	font-weight: 300;
	line-height: 2;
}

.btn {
	display: inline-block;
	padding-top: 12px;
	margin: 0 auto;
	width: 213px;
	height: 54px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.125em;
	font-weight: 400;
	line-height: 1.667;
	text-align: center;
	-webkit-border-radius: 25px;
	        border-radius: 25px;
}

.btn--read-more {
	color: #612316;
	text-decoration: none;
	background-color: #FFF;
}

/* ================= // About Company ============== */

/* ================= OUR NEWS ====================== */
.our-news {
	height: 800px;
	padding-top: 82px;
	background-color: #edeff1;
}

.section-title {
	margin-bottom: 84px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.875em;
	font-weight: 700;
	line-height: 0.8;
	text-align: center;
	color: #31353E;
}

.news-list {
	width: 1169px;
	margin: 0 auto;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.news-list .news-list__item {
	width: 371px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.news-list .news-title {
	margin-bottom: 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.25;
	text-align: center;
	color: #31353e;
	order: 2;
}

.news-list .news-item {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	width: 371px;
	height: 254px;
}

.news-list .news-item img {
	width: 371px;
	height: 254px;
	order: 1;
}

.news-list__item figcaption {
	margin-bottom: 39px;
	font-size: 0.938em;
	font-weight: 300;
	line-height: 2;
	text-align: center;
	color:  #31353e;
	order: 3;
}

.news-list__item .btn--read-more {
	order: 4;
	color:  #4e5159;
	font-size: 0.938em;
	font-weight: 300;
	line-height: 2;
}
/* ============== // OUR NEWS ====================== */

/* ================= Newsletter ==================== */
.newsletter {
	height: 374px;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
		        justify-content: center;

	background: #FFF url('../img/background-footer.jpg') no-repeat top center;	
}

.newsletter .section-title--white {
	margin-bottom: 12px;
	line-height: 1.6;
	color: #fff;
}

.newsletter .text-section {
	margin-bottom: 43px;
	font-size: 0.938em;
	font-weight: 300;
	line-height: 1.6;
	text-align: center;
	color:  #ffffff;
}

.newsletter .sign-up-form {
	width: 510px;
}

.sign-up-form {
	width: 510px;
	height: 54px;
	margin: 0 auto;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

input[type=email] {
	position: relative;
	width: 510px;
	height: 54px;
	padding-left: 36px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.125em;
	font-weight: 400;
	line-height: 1.667;
	color:  #fff;
	border: 1px solid rgba(255, 255, 255, 50);
	outline: none;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 25px;
	        border-radius: 25px;
}

.btn--sign-up {
	position: absolute;
	right: 420px;
	width: 213px;
	padding-top: 0;
	font-size: 1.125em;
	font-weight: 400;
	line-height: 1.667;
	color: #612316;
	border: 1px solid #fff;
	
}
/* ============== // Newsletter ==================== */