/* 
font-family: 'Roboto Slab', serif; */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 0.93em;
}

.container {
	width: 1256px;
	margin: 0 auto;
}

.main-header {
	padding-top: 50px;
	height: 147px;
	background-color: #edeff1;
}

.main-header .container {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}


/* ============== LOGO =================== */

.logo {
	width: 160px;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
}

.logo h1.logo__name {
	margin: 0;
	padding: 0;
	color: #30343e;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 1;
}

.logo p {
	font-size: 1em;
	font-weight: 400;
	line-height: 1;
	color: #dd4b2b;
}

/* ============== // LOGO =================== */

.main-navigation {
	width: 670px;
	height: 50px;
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.nav-lit .nav-list__item {
	margin-top: 19px;
}

.nav-list .nav-list__item a {
	padding: 17px 30px;
	font-family: RobotoSlab;
	font-size: 1.125em;
	font-weight: 400;
	line-height: 1.333;
	color: #31353e;
	text-decoration: none;
}

.nav-list .nav-list__item a:hover,
.nav-list .nav-list__item a:active,
.nav-list .nav-list__item a:focus {
	color: #edeff1;
	background-color: #dd4b2b;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
}

/* ================= About Company ============== */
.about-company {
	height: 1321px;
	font-family: 'Roboto Slab', serif;
	background: #edefff url('../img/background-header.jpg') no-repeat top center;
	text-align: center;
	color: #fff;
}

.about-company .container {
	height: 1321px;
	}

.about-company__text {
	width: 900px;
	min-height: 110px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.about-company__slogan {
	margin-bottom: 30px;
	font-size: 72px;
	font-weight: 300;
	line-height: 0.67;	
}

.about-company__note {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.6;
}

.about-company__features {
	
}

.about-company__features li {
	width: 326px;
	list-style-type: none;
}

/* ================= // About Company ============== */